<div layout="column" ng-cloak class="md-inline-form">
  <!-- <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding> -->
  <!--   <div layout-gt-xs="row"> -->
  <!--     <md-input-container class="md-block" flex-gt-xs> -->
  <!--       <label>Username</label> -->
  <!--       <input ng-model="dc.user.username" disabled> -->
  <!--     </md-input-container> -->
  <!--   </div> -->
  <!-- </md-content> -->

  <md-content layout-padding>
    <div flex-xs flex-gt-xs="70" layout="column" class="device-register">
      <md-card>
        <!-- <md-card-header> -->
        <!-- <md-card-avatar> -->
        <!--   <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon> -->
        <!-- </md-card-avatar> -->
        <!--   <md-card-header-text> -->
        <!--     <span class="md-title">Title</span> -->
        <!--     <span class="md-subhead">subhead</span> -->
        <!--   </md-card-header-text> -->
        <!-- </md-card-header> -->
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Device Registration: {{ dc.user.username }}</span>
          </h2>
        </md-toolbar>
        <form name="userForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Device ID</label>
              <input ng-model="dc.device.device_id">
            </md-input-container>

            <md-input-container>
              <label>Setup date</label>
              <md-datepicker ng-model="dc.device.setup_date"></md-datepicker>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Device type</label>
              <md-select ng-model="dc.device.type">
                <md-option ng-repeat="dt in dc.deviceTypes" value="{{dt.value}}">
                  {{dt.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Space</label>
              <md-select ng-model="dc.device.space_id">
                <md-option ng-repeat="sp in dc.spaces" value="{{sp.space_id}}">
                  {{sp.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>IP address</label>
              <input ng-model="dc.device.ip_addr">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Parent device</label>
              <md-select ng-model="dc.device.parent_id">
                <md-option ng-repeat="pr in dc.parents" value="{{pr.device_id}}">
                  {{pr.device_name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Biography</label>
            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </form>
      </md-card>
    </div>
  </md-content>
</div>

