<md-dialog aria-label="Device registration">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Device registration</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
          </svg>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Device name</label>
            <input ng-model="item.device_name">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Device ID</label>
            <input ng-model="item.device_id">
          </md-input-container>

          <md-input-container>
            <label>Setup date</label>
            <md-datepicker ng-model="item.setup_date" md-open-on-focus></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Device type</label>
            <md-select ng-model="item.type" ng-change="dt_change()">
              <md-option ng-repeat="dt in args.deviceTypes" value="{{dt.value}}">
                {{dt.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parent device</label>
            <md-select ng-model="item.parent_id" ng-change="pr_change()">
              <md-option ng-repeat="pr in args.parents" value="{{pr.device_id}}">
                {{pr.device_name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Space</label>
            <md-select ng-model="item.space_id" ng-change="sp_change()">
              <md-option ng-repeat="sp in args.spaces" value="{{sp.space_id}}">
                {{sp.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <div id="dev_dial_draw_blueprint"/>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>IP address</label>
            <input ng-model="item.ip_addr">
          </md-input-container>
        </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="register()">
        {{ args.action == 'Modify' ? 'Modify' : 'Register' }}
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


